@CHARSET "ISO-8859-1";

#mfHeader{
 margin-left: 220px;
 background: none repeat scroll 0 0 #eaeaea;
 height: 70px;
}

#logo{
 margin-left: 10px;
    padding-top: 1px;
    width: 200px;
}
#uploadArea{
 margin-left: 220px;
    margin-top: -45px;
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

#UploadForm{
 width: 500px;
}

#btnSubmit{
    margin-left: 570px;
    margin-top: -30px;
}

#message{
 margin-left: 555px;
 margin-top: -9px;
}

#mfMain{
    border: 2px solid #a1a1a1;
    border-radius: 5px;
    margin-left: 240px;
    margin-top: 14px;
    padding: 10px;
    width: 1000px;
}